---
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import { ABOUT } from "@consts";
import Layout from "@layouts/Layout.astro";
import Image from "astro/components/Image.astro";
---

<Layout title={ABOUT.TITLE} description={ABOUT.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          About
        </div>
        <section class="animate not-prose flex flex-col gap-4 text-justify">
          <p class="text-justify">
            Hi there,
            I'm Pascal Stehling, Data Engineer and Data Architect living in Potsdam, close to Berlin, Germany. Currently I'm working at <Link href="https://catenion.com/">Catenion</Link> as a Senior Data Architect. Unofficially I'm the IT guy for everything, taking care of the cloud infrastructure, the data pipelines and developing the internal web applications.
          </p>      
        </section>

        <div class="flex flex-col md:flex-row justify-center">
          <div class="my-10 text-center">
            <div class="bg-neutral-300 w-[350px] h-[250px] object-cover rounded-xl -rotate-6 overflow-hidden">
              <Image
                src={'/me-in-potsdam.jpeg'}
                alt={'life2'}
                width={350}
                height={250}
                class="w-[350px] h-[250px] object-cover rounded-xl overflow-hidden"
              />
            </div>
            <p class="mt-4 text-sm">Me sitting in front of some castle in Potsdam</p>
          </div>
          <div class="mx-10 my-10 text-center">
            <div class="bg-neutral-300 w-[204px] h-[212px] object-cover rounded-xl rotate-6 mx-auto sm:ml-auto">
              <Image
                src={'/pepe-the-frog-smash.gif'}
                alt={'Happy Pepe with Keyboard in front'}
                width={204}
                height={212}
                class="w-[204px] h-[212px] object-cover rounded-xl "
              />
            </div>
            <p class="mt-4 text-sm">How I see myself when I write code</p>
          </div>
        </div>
        <section class="animate not-prose flex flex-col gap-4 text-justify">
          <p class="text-justify">
            After finishing high school in Thuringia, right on the former border between East and West Germany, I moved to Berlin in 2016 to complete my dual bachelor's degree. I studied at the Hochschule für Wirtschaft und Recht (HWR) and did my internship at the Helmholtz-Zentrum Berlin (HZB). Therefore, I always had a lot of practical work besides my theoretical studies. One of the things that has already started to emerge is that whenever I was at the university, I missed being able to work on real projects. And whenever I was working on real projects, I missed learning at the university. This is something I still feel today, and also explains some of my later decisions. While I was doing my bachelor's degree, the whole field of AI started to emerge quite rapidly, which was quite interesting. I completed my bachelor's degree in 2019 in the standard period of study.
          </p>      
          <p class="text-justify">
            As a result, I started my Master in Data Science at the Berlin University of Technology (BHT) and after two weeks I started a working student position at Sopra Steria for one semester, after which I moved to Catenion (where I am still today). The most valuable part of the Master was learning that data science is boring from a software developer's point of view and data engineering is where the fun is. I graduated in 2021, in the standard period of study, with an overall grade of 1.27 and distinction.
          </p>      
          <p class="text-justify">
            With the beginning of 2022 I started to work full time at Catenion. With more time (and more money :D) I started turning a lot of prototypes into solid applications. My skills grew, as did my Github issue count. After half a year of work, I missed academia a bit and was a bit bored, so I decided to do a distance learning course in IT Security and Digital Forensics, which I started in fall 2022. The main learning here are: GDPR is interesting and better than most non-IT people think. A lot of actual cybersecurity work is not the fun technical stuff, but the paperwork (at least in Germany and what I heard from fellow students) and I rediscovered my love for linear algebra. Because of the last point, I wrote my master thesis on <Link href="/publications">Homomomorphic encryption with Module-Learning with errors (M-LWE)</Link>, which is a kind of homomorphic encryption with the new Crystal Kyber Post Quantum encryption scheme (simplifying a lot). This is the only paper/thesis I'm really proud of. But like any good scientist, I now see so many problems in this thesis, which is the first step towards progress. My degree was in 2024, in the standard period of study, with an overall grade of 1.3.
          </p>
          <p class="text-justify">
            Now with two masters, I don't think there will be a third and I'm not thinking about doing a PhD, but I didn't want to do a second masters at the beginning either :D. So now I had to find some new hobbies. For this reason I started this website, as something I wanted to do for a long time. Since I also enjoy swing dancing (currently Lindy Hop and Charleston), I started sewing classic menswear. First of all, it is super hard to buy good looking classical clothing that is not super expensive. Second, it's something I didn't know anything about, so there's a lot of room for learning. I have already tried some designs and, like any programmer, I underestimated the complexity and skills required.
          </p>
          <p class="text-justify">
            Let's see what time will bring, and if you find something interesting I'm doing, feel free to mail me at web@stehl.ing.
          </p>
        </section>
      </div>
    </aside>
  </Container>
</Layout>
