---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Container from "@components/Container.astro";
import Link from "@components/Link.astro";
import PublicationCard from "@components/PublicationCard.astro";
import SocialIcons from "@components/SocialIcons.astro";
import { HOME, SITE } from "@consts";
import Layout from "@layouts/Layout.astro";

// const blog = (await getCollection("blog"))
//   .filter((post) => !post.data.draft)
//   .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
//   .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

const publications: CollectionEntry<"publications">[] = (
  await getCollection("publications")
)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_PUBLICATIONS_ON_HOMEPAGE);
---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold text-black dark:text-white">
        My little place in the Web :)
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <span class="animate">
              <p>
                Hi, im Pascal Stehling, an Data Engineer & Data Architect living in Potsdam (suburb of Berlin, Germany). If you want to know more about me: here you can find a <Link href="/cv">short CV</Link> or a longer <Link href="/about">About section</Link>.
              </p>

              <p>
                Im really bad at Web-Design, so big thanks to
                <Link href="https://github.com/jingwu2121/astro-micro-academic">Astro Micro Academics</Link>
                for making it possible to have this small, goog looking place in the Web :)
              </p>
            </span>
            
          </article>
        </section>
        <span class="animate">
        </span>

        <!-- <section class="animate space-y-2 border-2 border-red-800 text-red-800 dark:border-red-400 border-dashed p-2 dark:text-red-400">
          📢📢 Your important Information (Open for job/Recruiting students)
        </section> -->

        <section class="animate space-y-6">
          <span class="animate">
            <h4 class="font-semibold text-black dark:text-white">
              Let's Connect
            </h4>
            <article>
              <p>
                If you want to get in touch with me about something or just to say
                hi, send me an email :) 
              </p>
            </article>
            <SocialIcons icon_size={'text-3xl'} />
          </span>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              IT Interests
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            <li>- Data Engineering</li>
            <li>- Data Science & AI</li>
            <li>- Post-Quantum & Homomorphic Encryption</li>
          </ul>
        </section>

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Stuff I do outside of IT
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            <li>- Swing Dancing (Lindy Hop & Charleston)</li>
            <li>- Trying sew classical menswear around 1920s</li>
            <li>- and interest in nearly all natural science & technical development</li>
          </ul>
        </section>
        
        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              My own publications
            </h2>
            <Link href="/publications"> See all research </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              publications.map((publication) => (
                <li>
                  <PublicationCard entry={publication} />
                </li>
              ))
            }
          </ul>
        </section>

        <!-- <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section> -->

      </div>
    </aside>
  </Container>
</Layout>
